*{
  font-family: 'Poppins', sans-serif;
}

.post-body ol {
  padding: 0;
  margin: 0;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-bottom: 10px;
  display: -webkit-box;
  list-style: none;
}
.post-body ol li {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}
.post ol li:before {
  content: none;
}

.header h1 {
  padding: 10px;
  font-size: 2em;
  background: linear-gradient(to bottom, #516395, #614385); /* Cambia los colores según tus preferencias */
  color: #fff;
}

.saludo{
  font-size: 19px;
  color: #858585;
  padding: 6px;
}



